<!DOCTYPE HTML>
<html lang="pt-br">
<head>
     <meta charset="utf-8">
     <link rel="stylesheet" type="text/css" href="../src/style.css"/>
</head>
<body class="header-background">

    <header>
        <nav class="nav">
            <img class="logo" src="../images/4FINANCE-mn.png" alt="Logo" />
            <a href="" class="logo"></a>
            <div class="breaker"></div>

            <ul>
                <li style="--clr:#00ade1"><a href="#" data-text="&nbsp;&nbsp;Home">&nbsp;&nbsp;Home&nbsp;</a></li>
                <li style="--clr:#ff6493"><a href="#" class="ativo" data-text="&nbsp;&nbsp;Sobre">&nbsp;&nbsp;Sobre&nbsp;</a></li>
                <li style="--clr:#ffdd1c"><a href="#" data-text="&nbsp;&nbsp;Calculadora">&nbsp;&nbsp;Calculadora&nbsp;</a></li>
                <li style="--clr:#00dc82"><a href="#" data-text="&nbsp;&nbsp;Contato">&nbsp;&nbsp;Contato&nbsp;</a></li>
                <li style="--clr:#dc00d4"><a href="#" data-text="&nbsp;&nbsp;Sair">&nbsp;&nbsp;Sair&nbsp;</a></li>
            </ul>
        </nav>
    </header>

</body>
</html>